format = """
[](#3B4252)\
$os\
$username\
[](bg:#434C5E fg:#3B4252)\
$directory\
[](fg:#434C5E bg:#4C566A)\
$git_branch\
$git_status\
[](fg:#4C566A bg:#86BBD8)\
$c\
$elixir\
$elm\
$golang\
$gradle\
$haskell\
$java\
$latte\
$maven\
$nim\
$nodejs\
$ocaml\
$package\
$php\
$python\
$ruby\
$rust\
$scala\
$swift\
$terraform\
$zig\
[](fg:#86BBD8 bg:#06969A)\
$docker_context\
[](fg:#06969A bg:#33658A)\
$time\
[ ](fg:#33658A)\
"""

[username]
show_always = true
style_user = "bg:#3B4252"
style_root = "bg:#3B4252"
format = '[$user ]($style)'

[os]
style = "bg:#3B4252"
disabled = false

[directory]
style = "bg:#434C5E"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[git_branch]
symbol = ""
style = "bg:#4C566A"
format = '[[ $symbol $branch ](fg:#ECEFF4 bg:#4C566A)]($style)'

[git_status]
style = "bg:#4C566A"
format = '[[($all_status$ahead_behind )](fg:#ECEFF4 bg:#4C566A)]($style)'

[nodejs]
symbol = ""
style = "bg:#86BBD8"
format = '[[ $symbol ($version) ](fg:#1C1C1C bg:#86BBD8)]($style)'

[php]
symbol = ""
style = "bg:#86BBD8"
format = '[[ $symbol ($version) ](fg:#1C1C1C bg:#86BBD8)]($style)'

[python]
symbol = ""
style = "bg:#86BBD8"
format = '[[ $symbol ($version) ](fg:#1C1C1C bg:#86BBD8)]($style)'

[docker_context]
symbol = ""
style = "bg:#06969A"
format = '[[ $symbol $context ](fg:#ECEFF4 bg:#06969A)]($style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "bg:#33658A"
format = '[[  $time ](fg:#ECEFF4 bg:#33658A)]($style)'
