window {
    margin: 0px;
    border: 2px solid #cba6f7;
    background-color: #1e1e2e;
    border-radius: 12px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#input {
    margin: 10px;
    border: none;
    color: #cdd6f4;
    background-color: #313244;
    border-radius: 8px;
    padding: 10px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#text {
    margin: 5px;
    border: none;
    color: #cdd6f4;
}

#entry:selected {
    background-color: #cba6f7;
    border-radius: 8px;
}

#entry:selected #text {
    color: #11111b;
    font-weight: bold;
}