window {
    margin: 0px;
    border: 3px solid #88C0D0; /* Nord Frost */
    background-color: #2E3440; /* Nord Polar Night */
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#input {
    margin: 5px;
    border: none;
    color: #ECEFF4; /* Nord Snow Storm */
    background-color: #3B4252; /* Nord Polar Night Lighter */
    border-radius: 5px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #2E3440;
    color: #ECEFF4;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #2E3440;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ECEFF4;
}

#entry:selected {
    background-color: #88C0D0; /* Nord Frost */
    color: #2E3440;
    border-radius: 5px;
    font-weight: bold;
}

#entry:selected #text {
    color: #1e1e2e;
}
