name: CI - Quality Check

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  lint:
    name: Lint & Validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: "."
          ignore_names: ".zshrc"
          severity: warning

      - name: Validate Waybar JSON
        run: |
          sudo apt-get install -y jq
          jq empty waybar/.config/waybar/config

      - name: Check Essential Files
        run: |
          # Garante que arquivos críticos existem e não estão vazios
          files=("packages.txt" "install.sh" ".zshrc")
          for file in "${files[@]}"; do
            if [ ! -s "$file" ]; then
              echo "Erro: $file está vazio ou não existe!"
              exit 1
            fi
          done

      - name: Success Message
        run: echo "All checks passed successfully!"
